In [3]:
ord('a')

97

In [6]:
chr(87)

'W'

In [8]:
ord('W'),chr(87)

(87, 'W')

In [10]:
for i in range(10,15):
    print(i,chr(i))

10

11
12
13
14 

In [15]:
name='Raaz'

In [16]:
for i in name:
    print(i,ord(i))

R 82
a 97
a 97
z 122

In [19]:
for i in('i love you'):
    print(i,ord(i))

i 105
  32
l 108
o 111
v 118
e 101
  32
y 121
o 111
u 117

In [26]:
for i in range(115,121):
    print(i,chr(i))

115 s
116 t
117 u
118 v
119 w
120 x

In [32]:
import string
for i in string.ascii_uppercase:
    print('{}---'.format(i),ord(i))

A--- 65
B--- 66
C--- 67
D--- 68
E--- 69
F--- 70
G--- 71
H--- 72
I--- 73
J--- 74
K--- 75
L--- 76
M--- 77
N--- 78
O--- 79
P--- 80
Q--- 81
R--- 82
S--- 83
T--- 84
U--- 85
V--- 86
W--- 87
X--- 88
Y--- 89
Z--- 90

NameError: name 'gbl_vr' is not defined

In [39]:
def square(n):
    a=n*n
    print(a)

In [53]:
square(eval(input('')))

7
49

In [52]:
rs_100=0
rs_50=0
rs_10=0
withdraw_amount=eval(input('enter the withdraw amount in hundred:'))
while withdraw_amount > 0:
    if withdraw_amount >=100:
        rs_100 =rs_100+1
        withdraw_amount=withdraw_amount-100
    elif withdraw_amount >=50:
        rs_50 = rs_50+1
        withdraw_amount=withdraw_amount-50
    else:
        rs_10 = rs_10 + 1
        withdraw_amount = withdraw_amount-10
print("Number of 100 notes:",rs_100)
print("Number of 50 notes:", rs_50)
print("Number of 10 notes:",rs_10)

enter the withdraw amount in hundred:780
Number of 100 notes: 7
Number of 50 notes: 1
Number of 10 notes: 3

In [25]:
list1 = ['who is pm of india','what is the capital of india','who is president of india','where is tajmahal','where is charminar']
list2 = ['Modi','Delhi','Draupadi','agra','hyderabad']
marks = 0
correct_ans = 0
for i in range(len(list1)):
    print('Question:',list1[i])
    ans = input('enter a answer:')
    if ans in list2[i].lower():
        marks+=1
        correct_ans+=1
    else:
        print('no marks')
print('total correct ans {} and total marks {}'.format(correct_ans,marks))

Question: who is pm of india
enter a answer:modi
Question: what is the capital of india
enter a answer:mumbai
no marks
Question: who is president of india
enter a answer:draupadi
Question: where is tajmahal
enter a answer:agra
Question: where is charminar
enter a answer:hyderabad
total correct ans 4 and total marks 4

In [4]:
string1 =  """Twinkle, twinkle, little star,
                    How I wonder what you are!
                           Up above the world so high, 
                            Like a diamond in the sky.
Twinkle, twinkle, little star,
        How I wonder what you are"""
print(string1)

Twinkle, twinkle, little star,
                    How I wonder what you are!
                           Up above the world so high,
                            Like a diamond in the sky.
Twinkle, twinkle, little star,
        How I wonder what you are

In [3]:
tuple(dir())

('In',
 'Out',
 '_',
 '_1',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'open',
 'quit')

In [9]:
num = eval(input('enter a number of line:'))
for i in range(num):
    print('*'*i)
for j in range(num-2,0):
    print('*'*j)

enter a number of line:10

*
**
***
****
*****
******
*******
********
*********

In [10]:
num = eval(input('enter a number of line:'))
for i in range(num):
    print('*'*i)
for j in range(num-2,0,-1):
    print('*'*j)

enter a number of line:10

*
**
***
****
*****
******
*******
********
*********
********
*******
******
*****
****
***
**
*

In [20]:
num = eval(input('enter a number of line:'))
for i in range(num+1):
    for j in range(num):
        print('*',end='')

enter a number of line:10
**************************************************************************************************************