- how do we read?

- type

- len

- max

- min

- concatenation (add two list)

- substract two list

- multiply two list

- divide two list

- index

- slice 

- mutablbe

- list methods

In [1]:
list1=[1,2,3,4]
list1

[1, 2, 3, 4]

In [4]:
list2=['a,b,c,d']
list2

['a,b,c,d']

In [5]:
list3=['apple',123]
list3

['apple', 123]

In [7]:
list4=['a',1,2,3,10+30j]
list4

['a', 1, 2, 3, (10+30j)]

- list is a hetrogeneuos property

- any kind of data type elements we can store in the form of lis

In [36]:
list5=[100,100,100]
list5

[100, 100, 100]

- list element can be duplicate

- which means duplicate elements are allowed

In [44]:
list6=['A','a']
list6

['A', 'a']

In [45]:
list7=['hii how are you',[100,100,100]]
list7

['hii how are you', [100, 100, 100]]

In [11]:
type(list5)

list

In [12]:
type(list5)

list

In [13]:
list1

[1, 2, 3, 4]

In [14]:
len(list1)

4

In [15]:
min(list1)

1

In [16]:
max(list1)

4

In [18]:
print(len(list1))
print(min(list1))
print(max(list1))
print(sum(list1))

4
1
4
10

In [25]:
list2=['A,B,C,D']

In [26]:
print(len(list2))
print(min(list2))
print(max(list2))

1
A,B,C,D
A,B,C,D

In [27]:
list3

['apple', 123]

In [29]:
print(len(list3))

2

In [30]:
list4

['a', 1, 2, 3, (10+30j)]

In [31]:
print(len(list4))
print(min(list4))
print(max(list4))
print(sum(list4))

5

TypeError: '<' not supported between instances of 'int' and 'str'

In [37]:
list5

[100, 100, 100]

In [38]:
print(len(list5))
print(min(list5))
print(max(list5))
print(sum(list5))

3
100
100
300

In [46]:
list6

['A', 'a']

In [47]:
print(len(list6))
print(min(list6))
print(max(list6))
print(sum(list6))

2
A
a

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [48]:
list7

['hii how are you', [100, 100, 100]]

In [49]:
print(len(list7))
print(min(list7))
print(max(list7))
print(sum(list7))

2

TypeError: '<' not supported between instances of 'list' and 'str'

In [56]:
print(list1)
print(list2)

[1, 2, 3, 4]
['A,B,C,D']

In [58]:
list1+list2

[1, 2, 3, 4, 'A,B,C,D']

$multiply-string-with-integers$

In [59]:
2*list1

[1, 2, 3, 4, 1, 2, 3, 4]

In [60]:
2*list2

['A,B,C,D', 'A,B,C,D']

$in$

In [63]:
list2=['A','B','C','D']

In [65]:
'A' in list2
'B'in list2
'C' in list2

True

In [66]:
for i in list2:
    print(i)

A
B
C
D

In [74]:
list2=['A','B','C','D']
i=0
while i in list2:
    print(i)
## if you want to deal with while
# we required numbers

$index$

In [75]:
list1

[1, 2, 3, 4]

In [77]:
list2

['A', 'B', 'C', 'D']

In [78]:
list1[3]

4

In [79]:
list2[2]

'C'

In [84]:
for i in range(len(list2)):
    print(i,list2[i])

0 A
1 B
2 C
3 D

In [85]:
i=0
while i < len(list2):
    print(i,list2[i])
    i+=1

0 A
1 B
2 C
3 D

In [91]:
for i in range(len(list2)):
    print('the positive index of {} is {}'.format(i,list2[i]))

the positive index of 0 is A
the positive index of 1 is B
the positive index of 2 is C
the positive index of 3 is D

In [95]:
i=0
while i < len(list2):
    
    print('the positive index of {} is {}'.format(i,list2[i]))
    i+=1

the positive index of 0 is A
the positive index of 1 is B
the positive index of 2 is C
the positive index of 3 is D

In [96]:
for i in range(len(list2)):
    print('the negative index of {} is {}'.format(i-len(list2),list2[i]))

the positive index of -4 is A
the positive index of -3 is B
the positive index of -2 is C
the positive index of -1 is D

In [97]:
i=0
while i < len(list2):
    print('the negative index of {} is {}'.format(i-len(list2),list2[i]))
    i+=1

the positive index of -4 is A
the positive index of -3 is B
the positive index of -2 is C
the positive index of -1 is D

In [101]:
for i in range(len(list2)):
    print('the positive index of {} is {}'.format(i,list2[i]),'the negative index of {} is {}'.format(i-len(list2),list2[i]))

the positive index of 0 is A the negative index of -4 is A
the positive index of 1 is B the negative index of -3 is B
the positive index of 2 is C the negative index of -2 is C
the positive index of 3 is D the negative index of -1 is D

In [100]:
i=0
while i < len(list2):
    
    print('the positive index of {} is {}'.format(i-len(list2),list2[i]),'the negative index of {} is {}'.format(i,list2[i]))
    i+=1

the positive index of -4 is A the negative index of 0 is A
the positive index of -3 is B the negative index of 1 is B
the positive index of -2 is C the negative index of 2 is C
the positive index of -1 is D the negative index of 3 is D

**check the mutable condition**

In [104]:
list2[0]='AAA'
list2

['AAA', 'B', 'C', 'D']

In [105]:
list1=[[[[[1,2,3,4]]]]]

In [113]:
list1[0]

[[[[1, 2, 3, 4]]]]

In [125]:
list1[0][0][0][0][3]

4

In [135]:
list2=[[[[['A','B',[1,2,3,['cherry']]]]]]]
list2[0][0][0][0][2][3][0]

'cherry'

In [143]:
list1=[[1,2,3]]
for i in range(len(list1[0])):
    print(i)

0
1
2

$slice$