## String

In [1]:
name= 'python'
type(name)

str

In [2]:
print(name)

python

In [8]:
name1="""hiii
    how are you
    i'm good"""
print(name1)

hiii
    how are you
    i'm good

In [9]:
print("name 'python'")

name 'python'

In [10]:
print('name "python"')

name "python"

## keyword
-type

-len

-max

-min

-in

In [25]:
name='python'
type(name)

str

In [26]:
len(name)

6

In [27]:
max(name)

'y'

In [28]:
min(name)

'h'

In [29]:
import string
for i in name:
    print(i,'--',ord(i))

p -- 112
y -- 121
t -- 116
h -- 104
o -- 111
n -- 110

In [34]:
import string
for i in name:
    min(i)

p
y
t
h
o
n

In [39]:
string1='hii'
string2='hello'  
string1+string2        ### string concatination

'hiihello'

In [36]:
string1='hii'
string2='hello'
string1-string2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [37]:
string1='hii'
string2='hello'
string1*string2

TypeError: can't multiply sequence by non-int of type 'str'

In [38]:
string1='hii'
string2='hello'
string1/string2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [42]:
string1=4
string2='hello'
string1*string2

'hellohellohellohello'

In [43]:
string2*2

'hellohello'

## indexing

In [1]:
name='python'

In [3]:
name[0]

'p'

In [4]:
name[1]

'y'

In [13]:
for i in range(6):
    print(name[i])

p
y
t
h
o
n

In [17]:
for i in range(7):
    print(name[i])

p
y
t
h
o
n

IndexError: string index out of range

In [21]:
name1='hello how are you'
print(len(name1))
for i in range(len(name1)):
    print(name1[i],end='')

17
hello how are you

In [29]:
for i in range(len(name)):
    print('the index of {} is:{}'.format(name[i],i))

the index of p is:0
the index of y is:1
the index of t is:2
the index of h is:3
the index of o is:4
the index of n is:5

In [30]:
i=0
while i<len(name):
    print('the index of {} is:{}'.format(name[i],i))
    i+=1

the index of p is:0
the index of y is:1
the index of t is:2
the index of h is:3
the index of o is:4
the index of n is:5

In [34]:
name3='python'
name[-6]

'p'

In [39]:
j=0
for i in range(len(name3)):
    j=i-len(name3)
    print('the index of {} is:{}'.format(name[i],j))

the index of p is:-6
the index of y is:-5
the index of t is:-4
the index of h is:-3
the index of o is:-2
the index of n is:-1

In [43]:
for i in range(-len(name3),0):
    print('the index of {} is:{}'.format(name3[i],i))

the index of p is:-6
the index of y is:-5
the index of t is:-4
the index of h is:-3
the index of o is:-2
the index of n is:-1

In [46]:
for i in range(len(name3)):
    print('the index of {} is: {}'.format(name3[i],i-len(name3)))

the index of p is: -6
the index of y is: -5
the index of t is: -4
the index of h is: -3
the index of o is: -2
the index of n is: -1

In [48]:
i=0
while i<len(name3):
    print('the index of {} is: {}'.format(name3[i],i-len(name3)))
    i+=1

the index of p is: -6
the index of y is: -5
the index of t is: -4
the index of h is: -3
the index of o is: -2
the index of n is: -1

In [59]:
i=-len(name3)
while i<0:
    print('the index of {} is:{}'.format(name3[i],i))
    i+=1

the index of p is:-6
the index of y is:-5
the index of t is:-4
the index of h is:-3
the index of o is:-2
the index of n is:-1

In [68]:
name3='python'
for i in range(len(name3)):
    print('the positive index is {} and negative index{} is {}'.format(i,i-len(name3),name3[i-len(name3)]))

the positive index is 0 and negative index-6 is p
the positive index is 1 and negative index-5 is y
the positive index is 2 and negative index-4 is t
the positive index is 3 and negative index-3 is h
the positive index is 4 and negative index-2 is o
the positive index is 5 and negative index-1 is n

In [70]:
name3='python'
for i in range(len(name3)):
    print('the positive index is {} and negative index{} is {}'.format(i,i-len(name3),name3[i]))

the positive index is 0 and negative index-6 is p
the positive index is 1 and negative index-5 is y
the positive index is 2 and negative index-4 is t
the positive index is 3 and negative index-3 is h
the positive index is 4 and negative index-2 is o
the positive index is 5 and negative index-1 is n

In [73]:
i=0
while i < len(name3):
    print('the positive index is {} and negative index{} is {}'.format(i,i-len(name3),name3[i]))
    i+=1

the positive index is 0 and negative index-6 is p
the positive index is 1 and negative index-5 is y
the positive index is 2 and negative index-4 is t
the positive index is 3 and negative index-3 is h
the positive index is 4 and negative index-2 is o
the positive index is 5 and negative index-1 is n

In [74]:
for i in range (len(name3)):
    print(i,name3,i-len(name3))

0 python -6
1 python -5
2 python -4
3 python -3
4 python -2
5 python -1

In [93]:
sent='hai hai how are you'
count=0
for i in range(len(sent)):
    if sent[i]=='a':
        count+=1
print('no of repeated',count)

no of repeated 3

In [117]:
sent='hai hai how are you'
count=0
for i in range(len(sent)):
    if sent[i]=='a':
        count+=1
        print(i)
print('no of repeated',count)

1
5
12
no of repeated 3

In [1]:
sent='hai hai how are yo'
count=0
for i in range(len(sent)):
    if sent[i] in 'aeiou':
        count+=1
print(' vowels are:',count)

 vowels are: 8

In [124]:
sent='hai hai how are yo'
count=0
string1=''
for i in range(len(sent)):
    if sent[i] in 'aeiou':
        if sent[i] not in string1:
            string1=string1+sent[i]
print('unique vowels are:',string1)

unique vowels are: aioe

In [6]:
name = 'hai hai how are you'
count = 0
for i in len(name):
    if i== 'a':
        count+=1
print('no of repeated:',count)

TypeError: 'int' object is not iterable

In [1]:
string1 = "Hello"
string2 = "World"
result = string1 + " " + string2
print(result)  # Output: Hello World

Hello World