In [1]:
#normal function 
def add(x):
    return(x+10)
add(10)

20

In [ ]:
# how many argument are there?
# what you are returning?
<function_name>= lambda <argument_name>:<return_value>

**lambda function in one argument**

In [5]:

add=lambda x:x+10

In [6]:
add(10)

20

In [12]:
def mul(num):
    return(num*num)
mul(5)

25

In [10]:
mul=lambda num:num*num

In [11]:
mul(5)

25

In [13]:
cube= lambda val:val*val*val

In [14]:
cube(3)

27

**lambda function with two argument**

In [15]:
sum1=lambda a,b:a+b
sum1(10,20)

30

In [19]:
avg=lambda a,b,c:(a+b+c)/3
avg(10,20,30)

20.0

In [20]:
avg=lambda a,b,c=100:(a+b+c)/3
avg(10,20)

43.333333333333336

In [22]:
avg=lambda a,b,c=100: round((a+b+c)/3,2)
avg(10,20)

43.33

**lambda function with if else**

In [ ]:
##<function_name>=lambda <arg1,arg2>:<if output><if condition> else <else_output>

In [27]:
greater=lambda num1,num2: num1 if num1>num2 else num2
greater(50,100)

100

**lembda function with list**

In [31]:
list1=['hyderab','mumbai','bengluru'] 
out = []
for i in list1:
    out.append(i.capitalize())
out

['Hyderab', 'Mumbai', 'Bengluru']

In [34]:
list1=['hyderab','mumbai','bengluru'] 
output =[i.capitalize() for i in list1] 
output

['Hyderab', 'Mumbai', 'Bengluru']

#### method 3 ####### with lembda

In [49]:
list1=['hyderab','mumbai','bengluru']
list(map(lambda i:i.capitalize(),list1))
# step1: create a lambda function: lambda i:i.capitaliseze()
# step2: add your iterator
# step3: lambda i:i.capitaliseze(),list1
#         map(step1,step2)
#         map(lambda i:i.capitalize(),list1)
# step4: you need to save the result again in a list or tuple
#        list(map(step1,step2))
#        list(map(lambda i:i.capitalize(),list1))

['Hyderab', 'Mumbai', 'Bengluru']

In [ ]:
# what is meant by iterator
# which data types you can iterate
# which means which data types you can print by using for loop?
string = 'python'
list1 = [1,2,3,4]
tuple1 =(1,2,3,4)

In [42]:
num = reversed('python')
for i in num:
    print(i)

n
o
h
t
y
p

In [50]:
list1 = [1,2,3,4]
list(map(lambda i:i*i,list1))    ## vvi for interview

[1, 4, 9, 16]

In [56]:
list1 =['hyd','biryani','buvaneshwer','rasagulla']
list(map(lambda i:len(i)>3,list1))

[False, True, True, True]

$filter$

In [55]:
list1 =['hyd','biryani','buvaneshwer','rasagulla']
list(filter(lambda i:len(i)>3,list1))              # if we have condition we use filter

['biryani', 'buvaneshwer', 'rasagulla']

In [ ]:
#step 1
list(map(lambda i:len(i)>3,list1))
# step-2
# apply filter 
list(filter(lambda i:len(i)>3,list1))

In [58]:
list1 =['hyd','biry#ni','buv#neshwer','ras#gulla']
list(filter(lambda i:len(i)>3,list1))

['biry#ni', 'buv#neshwer', 'ras#gulla']

In [74]:
list1 =['hyd','biry#ni','buv#neshwer','r#sagulla']
list(filter(lambda i:'#' in i,list1))

['biry#ni', 'buv#neshwer', 'r#sagulla']

In [78]:
list1 = [1,2,3,4,5,6]
list(map(lambda i:{i:'even'} if i%2==0 else {i:'odd'},list1))

[{1: 'odd'}, {2: 'even'}, {3: 'odd'}, {4: 'even'}, {5: 'odd'}, {6: 'even'}]