In [1]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [3]:
dict1 = {'course_id1':'ds',
         'course_duration':4,
         'course_fee':18000,
         'institute':'naresh_iT'}
dict1

{'course_id1': 'ds',
 'course_duration': 4,
 'course_fee': 18000,
 'institute': 'naresh_iT'}

$items$-$keys$-$values$

In [6]:
dict1.items()

dict_items([('course_id1', 'ds'), ('course_duration', 4), ('course_fee', 18000), ('institute', 'naresh_iT')])

In [7]:
dict1.keys()

dict_keys(['course_id1', 'course_duration', 'course_fee', 'institute'])

In [9]:
dict1.values()

dict_values(['ds', 4, 18000, 'naresh_iT'])

In [10]:
type(dict1)

dict

In [11]:
type(dict1.items())

dict_items

In [ ]:
# it is a new type : dict_items
# it is not a list

In [12]:
for i in dict1.items():
    print(i)

('course_id1', 'ds')
('course_duration', 4)
('course_fee', 18000)
('institute', 'naresh_iT')

In [14]:
for i,j in dict1.items():
    print(i,":",j)

course_id1 : ds
course_duration : 4
course_fee : 18000
institute : naresh_iT

In [15]:
list(dict1.items()) # type cast using list

[('course_id1', 'ds'),
 ('course_duration', 4),
 ('course_fee', 18000),
 ('institute', 'naresh_iT')]

In [16]:
dict1.keys()

dict_keys(['course_id1', 'course_duration', 'course_fee', 'institute'])

In [17]:
keys = dict1.keys()

In [18]:
list(keys)

['course_id1', 'course_duration', 'course_fee', 'institute']

In [19]:
dict1.values()

dict_values(['ds', 4, 18000, 'naresh_iT'])

In [21]:
values = dict1.values()

In [22]:
list(values)

['ds', 4, 18000, 'naresh_iT']

In [26]:
keys = ['a','b','c']
value = [1,2,3]
dict1 = {}
for i,j in zip(keys,value):
    dict1[i]=j
    
dict1

{'a': 1, 'b': 2, 'c': 3}

In [27]:
keys = ['course_id1', 'course_duration', 'course_fee', 'institute']
value = ['ds', 4, 18000, 'naresh_iT']
dict3= {}
for i,j in zip(keys,value):
    dict3[i]=j
dict3

{'course_id1': 'ds',
 'course_duration': 4,
 'course_fee': 18000,
 'institute': 'naresh_iT'}

$dictionary-comprehension$

In [29]:
{i:j for i,j in zip(keys,value)}

{'course_id1': 'ds',
 'course_duration': 4,
 'course_fee': 18000,
 'institute': 'naresh_iT'}

In [31]:
{i:j for i,j in zip(keys,value)}

{'course_id1': 'ds',
 'course_duration': 4,
 'course_fee': 18000,
 'institute': 'naresh_iT'}

In [32]:
dict1

{'a': 1, 'b': 2, 'c': 3}

$get$

In [38]:
dict1.get('a')

1

In [39]:
dict1['a']

1

In [44]:
dict1.get('c')

3

In [41]:
dict1[3]

KeyError: 3

$clear$-$copy$

In [47]:
l1=[1,2,3]
l2=l1.copy()
l1.clear()
print(l1)
print(l2)

[]
[1, 2, 3]

In [50]:
l1={1,2,3}
l2=l1.copy()
l1.clear()
print('l1:',l1)
print('l2:',l2)

l1: set()
l2: {1, 2, 3}

$pop$-$popitem$-$del$

In [52]:
l1={1,2,3}
l1.pop()

1

In [66]:
dict1 = {'course_id1':'ds',
         'course_duration':4,
         'course_fee':18000,
         'institute':'naresh_iT'}
dict1.popitem() 

# popitem is not taking any argument
# it will return output
# which pair it is removing : last in first out

('institute', 'naresh_iT')

In [67]:
dict1.pop('course_fee')
# pop method will take a one argument
# that argument is key , which you want to remove
# and return the corresponding value also

18000

In [69]:
dict1 = {'course_id1':'ds',
         'course_duration':4,
         'course_fee':18000,
         'institute':'naresh_iT'}
del dict1['course_duration']
dict1

{'course_id1': 'ds', 'course_fee': 18000, 'institute': 'naresh_iT'}

$setasdefault$

In [70]:
dict1 = {'course_id1':'ds',
         'course_duration':4,
         'course_fee':18000,
         'institute':'naresh_iT'}
dict1['package']= '10 lakhs'
dict1

{'course_id1': 'ds',
 'course_duration': 4,
 'course_fee': 18000,
 'institute': 'naresh_iT',
 'package': '10 lakhs'}

In [73]:
dict1 = {'course_id1':'ds',
         'course_duration':4,
         'course_fee':18000,
         'institute':'naresh_iT'}
dict1.setdefault('package')                 # we are not providing value = none
dict1.setdefault('certification','valid')   # both key and value
dict1

{'course_id1': 'ds',
 'course_duration': 4,
 'course_fee': 18000,
 'institute': 'naresh_iT',
 'package': None,
 'certification': 'valid'}

$fromkeys$

In [77]:
dict1={}
dict1.fromkeys('python',10)

{'p': 10, 'y': 10, 't': 10, 'h': 10, 'o': 10, 'n': 10}

In [78]:
dict1={}
employee=['a','b','c']
dict1.fromkeys(employee,'nareshiT')

{'a': 'nareshiT', 'b': 'nareshiT', 'c': 'nareshiT'}