- string

- list

- dictionary 
 
- tuple/set

- lambda function

- file handling

$Dictionary$

In [1]:
list1 =['raam','rahhem','robert']
ages = [25,30,35]
for i,j in zip(list1,ages):
    print('the {} age is {}'.format(i,j))

the raam age is 25
the rahhem age is 30
the robert age is 35

**key-value pair concept**

In [ ]:
{key:value}

In [3]:
dict1 = {'ram':25,'raheem':30,'robert':35}
dict1

{'ram': 25, 'raheem': 30, 'robert': 35}

In [4]:
type(dict1)

dict

In [5]:
len(dict1)

3

In [6]:
max(dict1)

'robert'

In [7]:
min(dict1)

'raheem'

- max value and min value based on key value

In [9]:
dict1 = {'ram':25,'raheem':30,'robert':35}
dict2={'names':['ram','raheem','robert'],'ages':[25,30,35]}
dict2

{'names': ['ram', 'raheem', 'robert'], 'ages': [25, 30, 35]}

In [10]:
dict4= {['ram','raheem','robert']:'names'}
dict4

TypeError: unhashable type: 'list'

In [12]:
dict5 = {25:35}
dict5

{25: 35}

In [13]:
dict6 = {'a':'apple','b':10.5,'c':10+5j,12:['a','b','c']}
dict6

{'a': 'apple', 'b': 10.5, 'c': (10+5j), 12: ['a', 'b', 'c']}

In [15]:
dict7 = {['a']:'apple','b':10.5,'c':10+5j,12:['a','b','c']}
dict7

TypeError: unhashable type: 'list'

In [16]:
d7 = {'fruits':{'like':['apple','cherry']}}  #json file type
d7

{'fruits': {'like': ['apple', 'cherry']}}

- if you provide multiple value at the key position it will fail

In [17]:
d8 = {'mobin':'amazon','mobin':'amazon'}
d8

{'mobin': 'amazon'}

- duplicate are not allowet

In [18]:
d9 = {'ravi':25,'ravi':35}
d9

{'ravi': 35}

- if key same the last value taken

In [19]:
dict1

{'ram': 25, 'raheem': 30, 'robert': 35}

In [20]:
'ram' in dict1

True

In [21]:
'ram': 25 in dict1

SyntaxError: illegal target for annotation (1077892619.py, line 1)

In [22]:
for i in dict1:
    print(i)    #if you iterate through for loop only key will come (very very important)

ram
raheem
robert

In [23]:
dict1[0]

KeyError: 0

- dictionary value retrive based on key only

In [25]:
dict1['ram'],dict1['raheem'],dict1['robert']

(25, 30, 35)

In [ ]:
# wap by using for loop get the value
# if you iterate normally only keys are coming

In [29]:
for i in dict1:
    print(i,dict1[i])

ram 25
raheem 30
robert 35

In [40]:
dict2={'names':['ram','raheem','robert'],'ages':[25,30,35]}
print(dict2['names'][0],dict2['ages'][0])
print(dict2['names'][1],dict2['ages'][1])
print(dict2['names'][2],dict2['ages'][2])

ram 25
raheem 30
robert 35

In [41]:
for i in range(3):
    print(dict2['names'][i],dict2['ages'][i])

ram 25
raheem 30
robert 35

In [42]:
print(dict2['names'][2],dict2['ages'][1])

robert 30

In [45]:
d1 = {'hello':{'hello':{'hello':{'hello':'python'}}}}
print(d1['hello']['hello']['hello']['hello'])

python

In [50]:
d2 = {'hello':[{'fruits':['apple','banana',{'like':['cherry']}]}]}
print(d2['hello'][0]['fruits'][2]['like'][0])

cherry

In [ ]:
# how to create a empty dictionary
dict1= {}
list1= []
string1=''

In [58]:
dict1['nareshit']=['ds','mlops','de']
dict1

{'ram': 25, 'raheem': 30, 'robert': 35, 'nareshit': ['ds', 'mlops', 'de']}

In [70]:
import random
dict1 = {}
even = []
odd = []

for i in range(5):
    num = random.randint(10,100)
    if num%2 == 0:
        even.append(num)
    else:
        odd.append(num)
dict1['even']=even
dict1['odd']=odd

In [71]:
dict1

{'even': [22, 14], 'odd': [27, 77, 99]}

In [ ]:
output= []