$slice$

In [1]:
list1=['A','B','C','D','E','F',1,2,3,4,5,6]

In [8]:
print(list1[2:11:2]
#list1[2:11:-2]
list1[2:-11:2]
list1[2:-11:-2]
list1[-2:11:2]
list1[-2:-11:2]
list1[-2:-11:-2]
list1[-2:11:-2]

['C', 'E', 1, 3, 5]

['C']

In [9]:
list1= ['hyderabad','delhi','chennai','blr']
for i in list1:
    if len(i)>=4:
        print(i)

hyderabad
delhi
chennai

In [11]:
for i in range(len(list1)):
    if len(list1[i])>=4:
        print(list1[i])

hyderabad
delhi
chennai

- in operator === direct element

- range() required a number inside the bracker

- that num indicates index of the elemetnt

In [14]:
list1= ['hyderab#d','delhi','chenn#i','blr']
for i in list1:
    if '#' in i:
        print(i)

hyderab#d
chenn#i

In [20]:
i=0
while i<len(list1):
    
    if '#' in list1[i]:
        print(list1[i])
    i+=1

hyderab#d
chenn#i

In [22]:
list1= ['hyderab#d','delhi','chenn#i','blr','haridawar']
for i in range(len(list1)):
    if list1[i][0]=='h':
        print(list1[i])

hyderab#d
haridawar

In [23]:
list1= ['Hyderab#d','delhi','chenn#i','blr','Haridawar']
for i in list1:
    if i.lower().startswith('h'):
        print(i)

Hyderab#d
Haridawar

In [25]:
list1=['omkar.nallahoni@gmail.com','kareem.pasha@gmail.com','santosh.kadam@gmail.com']
for i in list1:
    print(i[i.find('.')+1:i.find('@')])

nallahoni
pasha
kadam

In [29]:
for i in list1:
    print(i.split('.')[1].split('@')[0])

nallahoni
pasha
kadam

$list$-$methods$

In [42]:
list()

[]

$append$

In [39]:
list1=[100,200,300]
list1.append(400)
list1

[100, 200, 300, 400]

In [40]:
l1=[]
l1.append(20)
l1

[20]

In [41]:
list1=[100,200,300]
list1.append(400)
list1.append('python')
list1

[100, 200, 300, 400, 'python']

In [44]:
list1= ['hyderabad','delhi','chennai','blr']
l1=[]
for i in list1:
    if len(i)>=4:
        l1.append(i)
l1

['hyderabad', 'delhi', 'chennai']

In [45]:
list1= ['hyderab#d','delhi','chenn#i','blr']
l2=[]
for i in list1:
    if '#' in i:
        l2.append(i)
l2

['hyderab#d', 'chenn#i']

In [47]:
list1=['omkar.nallahoni@gmail.com','kareem.pasha@gmail.com','santosh.kadam@gmail.com']
l3=[]
for i in list1:
    l3.append(i[i.find('.')+1:i.find('@')])
l3

['nallahoni', 'pasha', 'kadam']

In [48]:
l4=[]
for i in list1:
    l4.append(i.split('.')[1].split('@')[0])
l4

['nallahoni', 'pasha', 'kadam']

In [50]:
list1=['omkar.nallahoni@gmail.com','kareem.pasha@gmail.com','santosh.kadam@gmail.com']
first,second=[],[]
for i in list1:
    first.append(i.split('.')[0])
    second.append(i[i.find('.')+1:i.find('@')])
first,second

(['omkar', 'kareem', 'santosh'], ['nallahoni', 'pasha', 'kadam'])

In [60]:
def names(list1):
    first,second=[],[]
    for i in list1:
        first.append(i.split('.')[0])
        second.append(i[i.find('.')+1:i.find('@')])
        return(first,second)
list1=['omkar.nallahoni@gmail.com','kareem.pasha@gmail.com','santosh.kadam@gmail.com']
names(list1)

(['omkar'], ['nallahoni'])

In [59]:
import random
even,odd=[],[]
for i in range(10):
    num1=random.randint(10,50)
    if num1%2==0:
        even.append(num1)
    else:
        odd.append(num1)
even,odd

([18, 38, 50, 14, 14, 16], [13, 33, 41, 25])

*List comprehension*

In [63]:
list1= ['hyderabad','delhi','chennai','blr']
output=[i for i in list1 if len(i)>=4]
output

['hyderabad', 'delhi', 'chennai']

In [74]:
list1=['omkar.nallahoni@gmail.com','kareem.pasha@gmail.com','santosh.kadam@gmail.com']
output=[i.split('.')[0] for i in list1]
output

['omkar', 'kareem', 'santosh']

In [68]:
list1= ['hyderab#d','delhi','chenn#i','blr','haridawar']
output=[i for i in list1 if '#' in i]
output

['hyderab#d', 'chenn#i']

In [73]:
list1=['omkar.nallahoni@gmail.com','kareem.pasha@gmail.com','santosh.kadam@gmail.com']

output=[i.split('.')[0] for i in list1]
output

['omkar', 'kareem', 'santosh']

In [70]:
square=[]
for i in range(5):
    square.append(i*i)
square

[0, 1, 4, 9, 16]

In [72]:
output2=[i*i for i in range(5)]
output2

[0, 1, 4, 9, 16]

In [77]:
output=['even {}'.format(i) if i%2==0 else 'odd {}'.format(i) for i in range(10)]
output

['even 0',
 'odd 1',
 'even 2',
 'odd 3',
 'even 4',
 'odd 5',
 'even 6',
 'odd 7',
 'even 8',
 'odd 9']

In [78]:
even_odd=[]
for i in range(10):
    if i%2==0:
        even_odd.append('even {}'.format(i))
    else:
        even_odd.append('odd {}'.format(i))
even_odd

['even 0',
 'odd 1',
 'even 2',
 'odd 3',
 'even 4',
 'odd 5',
 'even 6',
 'odd 7',
 'even 8',
 'odd 9']

In [ ]:
[<output> <for loop> <if condition>]  # for with if
[<if_out> <if_cond> <else> <else_out> <for_loop> ]

In [4]:
output= [i for i in range(5,100,5)]
output

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [6]:
output= [i for i in range(-1,-20,-2)]
output

[-1, -3, -5, -7, -9, -11, -13, -15, -17, -19]

In [9]:
list1= ['apple','ball','cat','dog','elephant']
list2=[]
for i in list1:
    if len(i)>3:
        print('it is better {}'.format(i))
    else:
        print('it is better {}'.format(i))
list2

it is better apple
it is better ball
it is better cat
it is better dog
it is better elephant

[]

In [7]:
list1= ['apple','ball','cat','dog','elephant']
output1=['it is good {}'.format(i) if len(i)>3 else 'it is better {}'.format(i) for i in list1 ]
output1

['it is good apple',
 'it is good ball',
 'it is better cat',
 'it is better dog',
 'it is good elephant']

$clear$

In [12]:
list1=[1,2,3,4]
list1.clear()
list1

[]

$pop$

In [21]:
list1=[1,2,3,4]  #default argument index =-1
list1.pop()        #which is last element
# if you not provide any value , it will delete the last element
# it is also return which value deleted
# and it saves result in the same list

4

$remove$

In [22]:
list1=[1,2,3,4]    
list1.remove(3)   #it takes element of the list
            # it is not return any thing
             # it also saves the result in same list

In [23]:
list1

[1, 2, 4]

$delete$

In [15]:
list1=[1,2,3,4]  ## del is not a methode
del list1[2]
list1

[1, 2, 4]

In [29]:
list2=[i for i in range(1,100,3)]
list2.remove(55)
list2

[1,
 4,
 7,
 10,
 13,
 16,
 19,
 22,
 25,
 28,
 31,
 34,
 37,
 40,
 43,
 46,
 49,
 52,
 58,
 61,
 64,
 67,
 70,
 73,
 76,
 79,
 82,
 85,
 88,
 91,
 94,
 97]

$index()$

In [32]:
list1=['a','b','c','d']

In [34]:
list1.index('c')

2

In [36]:
list1.pop(list1.index('c'))

'c'

In [80]:
string1='Kl.rahul@pune.com , virat.kohli@blr.com , rohit.sharma@mumbai.com'
list1=string1.split(',')
str1,str2,str3=[],[],[]
for i in list1:
    str1.append(i.split('.')[0])
    str2.append(i.split('.')[1].split("@")[0])
    str3.append(i.split('.')[1].split('@')[1])

In [81]:
str1,str2,str3

(['Kl', ' virat', ' rohit'],
 ['rahul', 'kohli', 'sharma'],
 ['pune', 'blr', 'mumbai'])

 - append 
    
 - clear

 - pop
    
 - remove

 - index
    
 - del(is not method)

$copy$

In [54]:
list1=['a','b','c','d']
list1.copy()

['a', 'b', 'c', 'd']

In [56]:
list1=[1,2,3,4,4]
list2=list1.copy()
list1.clear()
print(list1),print(list2)

[]
[1, 2, 3, 4, 4]

(None, None)

$extend$

In [62]:
list1=['a','b','c','d']
list2=[1,2,3,4]
list1.extend(list2)
print(list2)

[1, 2, 3, 4]

In [63]:
list2.extend(list1)
print(list1)

['a', 'b', 'c', 'd', 1, 2, 3, 4]

In [64]:
dir()

['In',
 'Out',
 '_',
 '_12',
 '_15',
 '_16',
 '_18',
 '_20',
 '_21',
 '_23',
 '_24',
 '_27',
 '_29',
 '_3',
 '_30',
 '_34',
 '_36',
 '_4',
 '_5',
 '_54',
 '_55',
 '_56',
 '_6',
 '_7',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'i',
 'list1',
 'list2',
 'open',
 'output',
 'output1',
 'quit',
 'str1',
 'str2',
 'str3',
 'string1',
 'string2']

$zip$

In [68]:
list1=['ram','raheem','robert']
list2=[25,30,35]
for i,j in zip(list1,list2):
    print('{} age is {}'.format(i,j))

ram age is 25
raheem age is 30
robert age is 35

max()
min()
print()
len()
zip()
its a keywords

$sort$

In [70]:
list1=['A','D','B','C']
list1.sort()   #if you nothing means ascending order (reverse=false)
list1           # argument reverse it defaut as false

['A', 'B', 'C', 'D']

In [71]:
list1=['A','D','B','C']
list1.sort(reverse=True)
list1

['D', 'C', 'B', 'A']

$sorted$

In [73]:
list1=['A','D','B','C']
print(sorted(list1))
print(sorted(list1,reverse=True))

['A', 'B', 'C', 'D']
['D', 'C', 'B', 'A']

- in the sort method result will save in a same list

- in the sorted method result will not save

$join$

In [76]:
string1='Kl.rahul@pune.com , virat.kohli@blr.com , rohit.sharma@mumbai.com'
list1=string1.split(',')
list1

['Kl.rahul@pune.com ', ' virat.kohli@blr.com ', ' rohit.sharma@mumbai.com']

In [77]:
string1='Kl.rahul@pune.com , virat.kohli@blr.com , rohit.sharma@mumbai.com'
list1='-->'.join(list1)
list1     
# if you want to join a list of element in a single string

'Kl.rahul@pune.com --> virat.kohli@blr.com --> rohit.sharma@mumbai.com'

In [79]:
list1=['A','D','B','C']
'->'.join(list1)

'A->D->B->C'

$insert$

In [85]:
list2=[1,2,3,4]
list2.insert(2,'h')
list2

[1, 2, 'h', 3, 4]

In [93]:
list1=['A','D','B','C']
list1.insert(3,'m')
list1

['A', 'D', 'B', 'm', 'C']